header {
    /* background-color: blue; */
    /* height: auto; */
}

.header-container {
    width: var(--wm2);
}

.banner-p-span {
    display: none;
}

.sec1-swiper {
    height: 100vh;
}

article {
    width: var(--wm2);
    /* height: 100vh; */
}

.images {
    max-width: 90%;
    max-height: 100%;
    height: 70%;
    /* object-position: 0px 2rem; */
}


@media only screen and (max-width:920px) {

    html {
        font-size: 8px;
    }

    .header-container{
        /* margin-top: 14rem; */
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 1px solid white; */
    }

    .banner-right {
        order: 1;
    }

    .banner-left {
        order: 2;
    }

    .banner-left h1 {
        padding-right: 0;
        display: block;
        text-align: center;
        margin: 2rem 0;
        /* border: 1px solid yellow; */
    }

    .banner-left p {
        padding-right: 0;
        margin-bottom: 2rem;
    }

    .banner-left .btn {
        align-self: center;
    }
    
    .banner-left{
        width: var(--wl);
        /* align-self: center; */
        /* border: 1px solid yellow; */
    }

    .br-content {
        width: 100%;
        height: 100%;
    }
    .br-content .swiper {
        width: 60rem;
    }

    .br-content .swiper-slide:nth-child(1) img {
        object-position: 0 0rem;
    }
    .br-content .swiper-slide:nth-child(2) img {
        object-position: 0 -9rem;
    }
    .br-content .swiper-slide:nth-child(3) img {
        object-position: 0rem -21rem;
    }
    .br-content .swiper-slide:nth-child(4) img {
        object-position: 0 -2rem;
    }

    .sec1 {
        padding-top: 0rem;
    }
}


@media only screen and (max-width:560px) {
    .br-content .swiper, .banner-left {
        width: 90vw;
    }
    .banner-p-span-top {
        display: none;
    }
    .sec1 {
        margin-bottom: 10rem;
    }
}
