:root {
    --news-height : 51rem;
}

.news-section {
    width: var(--width-small);
    display: flex;
    justify-content: center;
    align-items: center;
}

.news {
    height: 25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.news .thumbnail {
    height: 75%;
    width: 100%;
    padding-left: 0;
}

.news .thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.news .para {
    height: 25%;
}

.news .para a {
    font-size: 0.8rem;
}