* {
    margin : 0;
    padding : 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    background : linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0)),url(background.jpg) ;
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    transition: 1s;
}


header {
    width : 1280px;
    margin: auto;
    max-width: 95%;
    height: 80px;

    display: flex;
    justify-content: space-between;

    padding : 60px 20px;
}


.fa-r{
    color: #23cc71;
    font-size: 1.3em;
    width : 55px;
    height : 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border : 2px solid #23cc71;
    border-radius: 50%;
    cursor: pointer;
}

.fa-r:hover {
    background-color: #23cc7242;
}

.navLinks {
    
}

.navLinks a {
    color : #eee;
    padding : 5px 20px;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 600;
}

.navLinks a:hover {
    color : #23cc71;
}

.navLinks button {
    color: #23cc71;
    background : transparent;
    border : 2px solid #23cc71;
    outline: none;
    padding : 7px 17px;
    border-radius : 20px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
}

.navLinks button:hover {
    color : #eee;
    background-color: #23cc7242;
    transition: 0.2s;
}

#content {
    color : #eee;
    width : 1280px;
    max-width: 95%;
    margin: auto;
    padding-top: 170px;
}

#content  * {
    /* margin-bottom: 10px; */
}

#content h3{
    font-size : 23px;
    margin-bottom: 20px;
}

#content h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

#content h1 span {
    color : #23cc71;
    text-transform : capitalize;
}

#content p {
    width : 40%;
    font-size : 15px;
    margin-bottom: 22px;
}

.social a {
    font-size : 18px;
    color : #eee;
    background-color: rgba(255,255,255,0.1);

    display: inline-flex;
    width : 40px;
    height : 40px;
    align-items: center;
    justify-content: center;
    
    border : 2px solid rgba(255,255,255,0.1);
    border-radius: 50%;
    margin-right: 20px;
    margin-left: -4px;
}

.social a:hover {
    background-color: rgba(255,255,255,0.3);
}

#content button {
    color: #eee;
    background : #23cc71;
    border :  #23cc71;
    font-size : 15px;
    font-weight: 600;
    text-transform: capitalize;
    padding : 7px 20px;
    border-radius: 20px;
    margin-left: -4px;
    margin-top: 40px;
    cursor: pointer;
}

#content button:hover {
    font-size: 16px;
    color: #23cc71;
    border: 2px solid #23cc71;
    background-color: transparent;
    transition: 0.1s;
}
#menu {
    width : 40px;
    height : 30px;
    /* background-color : #ddd; */
    
    position: absolute;
    right : 40px;
    top : 65px;
    cursor: pointer;
    visibility: hidden;
}

#menu hr {
    width: 100%;
    height : 8%;
    background-color: #23cc71;
    border: #23cc71;
    position: absolute;
}

#menu hr:first-child {
    top : 19%;
}

#menu hr:nth-child(2){
    top : 46%;
}

#menu hr:last-child {
    top : 73%;
}

@media only screen and (max-width : 850px) {
    body {
        background-position: -850px;
        transition: 1s;
    }
    #menu {
        visibility: visible;
        z-index : 10;
    }
    #menu.switch hr{
        transition : 70ms;
    }

    #menu.switch hr:first-child {
        top : 45%;
        transform: rotateZ(28deg);
    }

    #menu.switch hr:nth-child(2){
        visibility: hidden;
    }

    #menu.switch hr:last-child {
        /* width : 50px; */
        top : 45%;
        transform: rotateZ(-28deg);
    }
    

    .navLinks {
        width : 40px;
        height : 30px;    
        opacity: 0;
    }

    .list{
        opacity: 1;
        top : 45px;
        right : 20px;
        position: absolute;
        z-index : 5;
        width : 400px;
        height: 500px;
        background-color: rgba(0,0,0,1);

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition : 0.4s;
    }

    .list a {
        position: relative;
        left : 13px;
    }

    #contact_button {
        /* border : 1px solid blue; */
        position: relative;
        /* right: 12px; */
    }

}
