html {
    font-size: 16px;
}

:root {
    --bg1 : #fff;
    --bg2 : #0058C6;
    --bg-league-title : #BFBBBA;

    --ld1 : #000;
    --ll1 : #EFFEFF;

    --width-small : 95%;

    --header-height-initial : 6rem;
    --header-height : 9rem;
    --leagues-section-height : 20rem;
    --news-height : 10rem;

    --width-top-header : calc(var(--width-small)*90/100);
    --margin-leagues : calc(var(--header-height)*62.2/100);
}

* {
    margin: 0;
    padding : 0;
    color: var(--ld1);
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--bg1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 1rem;
}
h3 {
    font-size: 1.4rem;
}

img {
    display: inline-block;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ======================================================= */

header {
    width : var(--width-small);
    height: var(--header-height-initial);
    color: var(--ll1);
    background-color: var(--bg2);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header.match-started {
    height: var(--header-height);
}

nav {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border : 1px solid black; */
    
}

nav.match-started {
    height: 40%;
    align-items: flex-end;
}

nav * {
    color: var(--ll1);
}

.fa-bars, .fa-xmark {
    cursor: pointer;
    z-index: 5;
}

.fa-xmark {
    display: none;
}

nav ul {
    display: none;

}

.menu-open {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    right : 1rem;
    top : 1rem;
    z-index: 3;
    border-radius: 1.25rem;

    width: 20rem;
    max-width: 90%;
    height: 40vh;
    background-color: rgba(0, 89, 198, 0.9);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);

}

.menu-open li a{
    padding : 1rem 2rem;
}

/* ============================== top-header ============================== */

.top-header {
    width : 90%;
    height: 80%;
    background-color: var(--ll1);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 1rem;
    position: absolute;
    transform: translateY(72.5%);
    display: none;
}

.top-header.match-started {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.top-header.match-started div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-match-name{
    width : 100%;
    height : 30%;
    position: absolute;
    top : 1px;
    font-size: 0.75rem;
}

.team-logos{
    height: 60%;
    width : 30%;
}

.score-time {
    width : 20%;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    top : 0.5rem;
}

.score span:nth-child(1){
    font-size: 2rem;
    margin-right: 0.2rem;
}

.score span:nth-child(2){
    font-size: 2rem;
    margin-left : 0.2rem;
}

.time {
    color : red;
    font-size: 0.8rem;
    font-weight: 500;
}

/* ======================================================= */

.league-titles {
    width : var(--width-top-header);
    margin-top: 2rem;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    /* border : 1px solid black; */
}

.league-titles.match-started { 
    margin-top: var(--margin-leagues);
}

.titles {
    max-height: 6.4rem;
    font-size: 0.7rem;
    display: flex;
    flex-flow: row wrap;
    gap : 0.2rem;
    justify-content: flex-start;
    align-items: center; 
}

.titles span {
    text-align: center;
    padding: 0 1rem;
    line-height: 2rem;
    border-radius: 0.5rem;;
    background-color: var(--bg-league-title);
    cursor: pointer;
    /* flex-grow: 1; */
}

.titles > .selected {
    background-color: var(--bg2);
    color: var(--bg1);
}


/* ======================================================= */

.leagues-section {
    width : var(--width-top-header);
    height: var(--leagues-section-height);
    margin-top : 2rem;
    border-radius: 0.5rem ;
    /* background-color: var(--bg-league-title); */
}

.leagues {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap : 2%;
}

.matches {
    width : 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 1rem;
    background-color: var(--bg1);
    box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
}

.matches .team-logos {
    width: 3rem;
    height: 3rem;
    position: relative;
}

.team-logos span {
    font-size : 0.6rem;
    position: absolute;
    bottom: -14px;
    left: 3px;
}

/* ======================================================= */

.news {
    width : var(--width-top-header);
    height: var(--news-height);
    margin-top: 2rem;
    border-radius: 0.5rem;
    background-color: var(--bg-league-title);
}

/* ======================================================= */

@media only screen and (max-width:400px) {

    .leagues-section {
        /* border : 1px solid red; */
        height: 21.08rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .leagues {
        height: 90%;
        width: 98%;
        padding: 1rem 0;
        height: calc();
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .matches {
        height: 6.4rem;
    }
}
