
:root {
    --l1 : #E7FEFD;
    --l2 : #E7FEFD;

    --c1 : #CE4257;
    --c11: #B22E42;
    --c2 : #4056F4;
    --c21: ;

    --bg1 : #E8F1F2;

    --wl : 86%;

    --trans : all 400ms ease;
}

* {
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color : var(--l1);
}

html {
    font-size: 10px;
}
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(black, 95%, var(--c1));
}


nav, header, section {
    width : 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

p,a,span {
    font-size : 1.6rem;
    letter-spacing: 1px;
    line-height: 2.4rem;
}

h5 {
    font-size : 2.4rem;
}
h4 {
    font-size: 2.8rem;
}
h3 {
    font-size : 3.2rem;
}

h2 {
    font-size : 3.6rem;
}

h1 {
    font-size : 4rem;
}

.container {
    height: 100%;
    width : var(--wl);
    margin : auto;
}

.btn {
    width: fit-content;
    display: inline;

    color : var(--l2);
    padding : 0.4rem 1.2rem;

    font-weight: 600;
    background-color: var(--c2);

    border: 1px solid transparent;
    border-radius: 1.2rem;
}

/* =================================================================================== */

nav {
    height: 10rem;
    position: fixed;
    top : 0;
    z-index: 101;
    transition: var(--trans);
    /* box-shadow: 0px 5px 5px rgba(0,0,0,0.2); */
    /* background-color: var(--c1); */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container h1 {
    letter-spacing: 0.5rem;
    font-weight: 700;
    cursor: pointer;
}


.nav-links {
    display: flex;
    gap : 4rem;
    justify-content: space-between;
}


.nav-links li a{
    padding : 0.6rem 1.2rem;
    font-size : 2rem;
    font-weight: 600;
    border : 2px solid transparent;
    border-radius: 2rem;
}

.nav-links li a:hover {
    color : var(--bg1);
    background:var(--c1);
}

/* =================================================================================== */

header {
    height: 80vh;
    margin-top : 14rem;
    margin-bottom: 10rem;
}

.header-container {
    display: grid;
    grid-template-columns: 66% 34%;
    border-radius: 2rem;
}


.banner-left, .banner-right{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.banner-left {
}

.banner-left h1 {
    font-size: 6rem;
    text-transform: capitalize;
    margin-bottom: 4rem;    
}

.banner-left p {
    display: inline-block;
    margin-bottom: 4rem;
}

.banner-left .btn {
    color: var(--l1);
    border: 2px solid var(--l1);
    font-weight: 700;
    background-color: transparent;
    transition: all 200ms ease;
}

.banner-left .btn:hover {
    color: var(--l2);
    border: 2px solid var(--bg1);
    background-color: var(--c1);
}

.banner-right {
    position: relative;
}

.br-content {
    width : 40rem;
    height: 60rem;
    position: absolute;
    right: 2.5%;
    top : 5rem;
}

.swiper {
    width : 40rem;
    height: 60rem;
    border-radius: 2rem;
}

/* =================================================================================== */

.sec1 {
    margin-bottom: 14rem;
}

.section-container {
    width: var(--wl);
}

.swiper {
    width: 100%;
    height: 70vh;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
}

article {
    width : 36rem;
    height: 80%;
    padding: 2.5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--c11), 80%, var(--c1));
    border : 1px solid transparent;
    border-radius: 2rem;
}

.images{
    max-width: 34rem;
    max-height: 26rem;
    border : 1px solid transparent;
    border-radius: 2rem;
    margin-bottom: 4rem;
}


.box article h3 {
    display: inline-block;
    align-self: flex-start;
    padding-left: 5%;
    color : var(--l2);
    font-weight: 600;
    margin-bottom: 2rem;
    /* -webkit-text-stroke: 1px var(--c3); */    
}

.box article p {
    width: 95%;
    color : #e2e2e2;
    display: inline-block;
    padding: 0 2.5%;
    margin-bottom: 2rem;
}

.box article a {
    margin-bottom: 2rem;
}

/* =================================================================================== */

footer {
    width: 100%;
    height: 60vh;
    background: black;
    box-shadow: inset 0 1px 30px rgba(255,255,255,0.1);
    position: relative;
    display: flex;
}

footer  * {
    color: var(--l2);
    font-weight: 600;
    cursor: pointer;
}

.footer-container {
    height: 60%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid white; */
}

.footer-container div{
    width : 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* border: 1px solid white; */
}

.footer-container div:nth-child(1){
    align-items: flex-start;
}

.footer-container div:nth-child(4){
    align-items: flex-end;
}

.footer-links div, .privacy div {
    width: fit-content;
}

.desc p{
    display: inline-block;
    width: 80%;
}

.contact div {
    width: fit-content;
}


.copyright {
    position: absolute;
    bottom: 50px;
    display: block;
    width: 100%;
    text-align: center;
}
/* =================================================================================== */

.nav-scroll {
    background: linear-gradient( #000000,80%,#111111);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    opacity: 0.9;
}

.nav-scroll div h1, .nav-scroll div ul li a {
    color : var(--l2)
}

.nav-scroll div ul li a:hover {
    color : var(--l2);
    background:none;
    border: 2px solid var(--bg1);
}
